{% extends "::base.html.twig" %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row clearfix">
            <fieldset>
                <div class="container-fluid">
                    <fieldset>
                        <legend>Cadastro de usuário</legend>
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="col-md-6 column">
                            <form role="form" method="POST" action="{{ path('updateAgencia') }}">
                                <input type="hidden" name="idAg" id="idAg" value="{{ agencia.idAg }}"/>
                                <div class="form-group col-lg-5">
                                    <label for="prefixoAg">Perfixo Agência</label>
                                    <input type="text" class="form-control" readonly="" name="prefixoAg" id="prefixoAg" value="{{ agencia.prefixoAg }}" />
                                </div>                               
                                <div class="form-group col-lg-5">
                                    <label for="nomeAg">Nome Agência</label>
                                    <input type="text" class="form-control" name="nomeAg" id="nomeAg" value="{{ agencia.nomeAg }}" />
                                </div>                           
                                <div class="form-group col-lg-6">
                                    <button type="submit" id="salvar" class="btn btn-primary">Salvar</button>
                                </div>
                            </form>
                        </div>                        
                    </fieldset>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}