{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css" class="init">
        
        .consultado {
             background-color: #45d823; color: #FFFFFF; font-weight: bold;
        }

	        
        .consultado-bloq {
             background-color: #FF0000; color: #FFFFFF; font-weight: bold;
        }
        
	td.details-control {
            background: url({{asset("imagens/icone-produto-plus.png")}}) no-repeat center center;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url({{asset("imagens/icone-produto-minus.png")}}) no-repeat center center;
        }

        a.editar {
            background: url({{asset("imagens/icone-editar.png")}}) no-repeat 0 0;
            width: 22px;
        }

        a.visualizar {
            background: url({{asset("imagens/icone-visualizar.png")}}) no-repeat 0 0;
            width: 23px;
        }

        a.excluir {
            background: url({{asset("imagens/icone-excluir.png")}}) no-repeat 0 0;
            width: 21px;
        }

        td.bt {
            padding: 10px 0;
            width: 126px;
        }

        td.bt a {
            float: left;
            height: 22px;
            margin: 0 10px;
        }
        .highlight {
            background-color: #FE8E8E;
        }
    </style>

{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-dismissable alert-{{ label }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row clearfix">
            <fieldset>
                <legend>Visualizar Dados dos Clientes</legend>
                <div class="col-md-12 column">
                    <section>
                        <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Detalhe</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Estado</th> 
                                    <th>AG</th>                                                                      
                                    <th>Número Benefício</th>
                                    <th>Disp. de Ligação</th>
                                    <th>Data da Consulta</th>
                                    <th>Acão</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Detalhe</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Estado</th>
                                    <th>AG</th>                                    
                                    <th>Número Benefício</th>
                                    <th>Disp. de Ligação</th>
                                    <th>Data da Consulta</th>
                                    <th>Acão</th>
                                </tr>
                            </tfoot>
                        </table>
                    </section>
                </div>
            </fieldset>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><b>NOME</b> : <span class="nomeExibicao"></span></h4>
                            <h4 class="modal-title" id="myModalLabel1"><b>CPF</b> : <span class="cpfExibicao"></span></h4>
                            <h4 class="modal-title" id="myModalLabel2"><b>Agência</b> : <span class="agenciaExibicao"></span></h4>
                            <h4 class="modal-title" id="myModalLabel13"><b>Conta Corrente</b> : <span class="ccExibicao"></span></h4>
                            <h4 class="modal-title" id="myModalLabel13"><b>Fone Residencial</b> : <span class="foneResidencial"></span></h4>
                            <h4 class="modal-title" id="myModalLabel13"><b>Fone Comercial</b> : <span class="foneComercial"></span></h4>
                            <h4 class="modal-title" id="myModalLabel13"><b>Fone Celular</b> : <span class="foneCelular"></span></h4>
                            <h4 class="modal-title" id="myModalLabel13"><b>Fone Preferencial</b> : <span class="fonePreferencial"></span></h4>                        
                        </div>
                        <form role="form" method="post" id="formModal" action="{{path('savarInfoAdicionais')}}">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">  
                                            <label for="margem" style="color: #000"><b>Margem</b></label>
                                            <input type="text" class="form-control" name="margem" id="margem" />
                                            <span id="errorMargem"></span>
                                        </div>
                                        <label for="vDisponivel" style="color: #000"><b>Tipo Crédito Pessoal</b></label><br/>
                                        <div class="radio">                                   
                                            <label class="tCreditoPess aux"><input type='radio' id="tCreditoR" name='tCreditoPess' value="1"> 
                                                Crédito Renovação
                                            </label><br/>
                                            <label class="tCreditoPess aux"><input type='radio'  id="tCreditoN" name='tCreditoPess' value="2"> 
                                                Crédito Novo
                                            </label ><br/>
                                            <label class="tCreditoPess ativaCampos"><input type='radio' id="tCreditoA" name='tCreditoPess' value="3"> 
                                                Antecipação de 13ª Salário
                                            </label>
                                            <label class="tCreditoPess aux"><input type='radio' id="tCreditoAT" name='tCreditoPess' value="4"> 
                                                Crédito Automático
                                            </label>
                                        </div>                                      
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">                                  
                                            <label for="vDisponivel" style="color: #000"><b>Valor Disponível</b></label>
                                            <input type="text" class="form-control" name="vDisponivel" id="vDisponivel" />
                                            <span id="errorVDisponivel"></span>
                                        </div>
                                        <label for="vDisponivel" style="color: #000"><b>Tipo Crédito Consignado</b></label><br/>
                                        <div class="radio">                                   
                                            <label class="tCreditoCon aux"><input type='radio'  id="tCreditoRCon" name='tCreditoCon' value="1"> 
                                                Crédito Renovação
                                            </label><br/>
                                            <label class="tCreditoCon aux"><input type='radio'  id="tCreditoNCon" name='tCreditoCon' value="2"> 
                                                Crédito Novo
                                            </label>                                  
                                        </div>
                                    </div>
                                </div>
                                <div id="AntDecimo13">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Valor disponível</th>
                                                        <th>Data vencimento</th>
                                                        <th>Valor prestação</th>
                                                    <tr/>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="text"  class="form-control" name="vDispon[]" id="vDisponivel1" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control datepicker" name="dataVecimento[]" id="dataVecimento1" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="vPrest[]" id="vPrest1" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="vDispon[]" id="vDisponivel2" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control datepicker" name="dataVecimento[]" id="dataVecimento2" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="vPrest[]" id="vPrest2" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1" style="color: #000"><b>Empréstimos</b></label><br />
                                        <div class="checkbox">                                   
                                            <div class="checked">
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Observações</label>
                                            <textarea class="form-control" id="obs" name="obs" rows="4" cols="7"></textarea>
                                            <input type="hidden" class="form-control" name="idCliente" id="idCliente" />
                                            <input type="hidden" class="form-control" value="1" name="rota" id="rota" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Disponibilidade de ligação</label><br />
                                        <div class="checkbox">                                    
                                            <label><input type='checkbox' id="ativo" name='statusAtivo' value="1"> 
                                                Ativo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Não gerar arquivo de retorno</label><br />
                                        <div class="checkbox">                                    
                                            <label><input type='checkbox' id="arquivoRetorno" name='statusArquivoRetorno' value="1"> 
                                                Ativar
                                            </label>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                            <div class="modal-footer">
                                <input type="submit" id="btnSalvarModal" class="btn btn-primary" value="Salvar" />
                                <input type="reset"  class="btn btn-default" value="Limpar" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/jquery.inputmask.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/components_form_tools.js')}}"></script> 
    {#<script type="text/javascript" src="{{ asset('bundles/serbinariombcreditombcredito/js/validacao.js') }}"></script>#}
    <script type="text/javascript" language="javascript" class="init">
        $('.datepicker').datetimepicker({
            timepicker: false,
            format:'d/m/Y',
            mask:true,
            lang: 'pt-BR'
         });
          
        function format(d) {
            var linhas = "";

            for (var i = 0; i < d.emprestimos.length; i++) {

                if (d.emprestimos[i]['status'] == '1') {
                    linhas += d.emprestimos[i]['nome'] + " " + d.emprestimos[i]['valor'] + " - " + "<b>BB</b><br />";
                } else {
                    linhas += d.emprestimos[i]['nome'] + " " + d.emprestimos[i]['valor'] + "<br />";
                }
            }

            if (d.statusErro == '1') {

                return  'Observação : ' + d.obsErro + '<br>';

            } else {
                //Isso é um calculo que eles fazem, pega o valor bruto * 30% - valor dos descontos 
                var nun = (parseFloat(d.valorBruto) * 0.3) - parseFloat(d.valorDescontos);
                nun = nun.toFixed(2);
                //Isso é um calculo que eles fazem, pega o valor bruto * 20% - valor dos descontos 
                var nun1 = (parseFloat(d.valorBruto) * 0.2) - parseFloat(d.valorDescontos);
                nun1 = nun1.toFixed(2);

                return  '<b>Sexo: </b>' + d.Sexo + ' <br>' +
                        '<b>Data Nascimento : </b>' + d.dtNascimento + '<br>' +
                        '<b>Competência : </b>' + d.competencia + '<br>' +
                        '<b>Valor Descontos :</b> ' + d.valorDescontos + '<br>' +
                        '<b>Valor Liquido :</b> ' + d.valorLiquido + '<br>' +
                        '<b>Valor Bruto :</b> ' + d.valorBruto + '<br>' +
                        '<b>Margem 30% :</b> ' + nun + '<br>' +
                        '<b>Margem 20% :</b> ' + nun1 + '<br>' +
                        '<b>Emprestimos :</b> ' + '<br>' +
                        linhas +
                        //'Quantidade Emprestimos : ' + d.qtdEmprestimos + '<br>' +
                        'Pagamento Atravez : ' + d.pagtoAtravez + '<br>' +
                        'Período Inicial : ' + d.periodoIni + '<br>' +
                        'Período Final : ' + d.periodoFin + '<br>' +
                        'Espécie : ' + d.especie + '<br>' +
                        //'Banco : ' + d.banco + '<br>' +
                        'Agência : ' + d.agencia + '<br>';
                //'Código Agência : ' + d.codigoAgencia + '<br>' +
                //'Endereço Banco : ' + d.enderecoBanco + '<br>' +



            }
        }

        $(document).ready(function ()
        {
            $('#result').hide();
            //$('#salvar').attr("disabled", true);

            var dt = $('#example').DataTable({  
                "rowCallback": function( row, data ) {
                    if(data.bloqueioSalve === "1") {
			for ($i = 1; $i < 8; $i++) {
 				$("td", row).eq($i).addClass("consultado-bloq");
			}
                    }
                                
		    if(data.bloqueioSalve == 0 && data.margem != null) {
                        for ($a = 1; $a < 8; $a++) {
                                $("td", row).eq($a).addClass("consultado");
                        }
                    }
     


                  },
                "processing": true,
                "serverSide": true,
                "bFilter": true, //Ativa o Search global
                "ajax": {
                    "url": "gridDados",
                    "type": "POST"
                },                
                "columns": [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": ""
                    },
                    {"data": "nome"},
                    {"data": "cpf"},
                    {"data": "estado"},
                    {"data": "prefixo_ag"},                    
                    {"data": "numBeneficio"},
                    {"data": "DisponibilidadeLigação"},
                    {"data": "dataConsulta"},
                    {
                        "class": "bt",
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, full, meta) {
                            return '<a href="" class="editar" title="Editar" data-toggle="modal" data-target="#myModal">'
                        }
                    },
                ],
                "order": [[0, 'asc']],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "createdRow": function ( row, data, index ) {
                    console.log(data.DisponibilidadeLiga\u00e7\u00e3o);
                    if ( data.bloqueioSalve === "1" ) {
                        //$('td', row).eq(7).addClass('excluir');
                        var a = $('td', row).eq(8).find("a");       
                        a.addClass('excluir');
                    }
                }
            });

            // Array to track the ids of the details displayed rows
            var detailRows = [];

            $('#example tbody').on('click', 'tr td:first-child', function () {
                var tr = $(this).closest('tr');
                var row = dt.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                }

                else {
                    tr.addClass('details');
                    row.child(format(row.data())).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });

            $('#example tbody').on('click', 'tr', function () {

                var nome = $('td', this).eq(1).text();
                var cpf = $('td', this).eq(2).text();
                var num_beneficiario = $('td', this).eq(3).text();
                var tr = $(this).closest('tr');
                var row = dt.row(tr);
                var data = row.data();
                var dtNascimento = data.dtNascimento;
                var condigo_prod = data.DT_RowId.replace("row_", "");

                $('#numBeneficio').val(num_beneficiario);
                $('#nome').val(nome);
                $('#cpf').val(cpf);
                $('#dtNascimento').val(dtNascimento);
                $('#codigo_prod').val(condigo_prod);
            });

            $('#example tbody').on('click', '.editar', function () {

                var emprestimmos = " ";
                $('.checked').html(" ");

                var trClicked = $(this).parent();

                var tr = $(trClicked).closest('tr');
                var row = dt.row(tr);
                var d = row.data();

                for (var i = 0; i < d.emprestimos.length; i++) {
                    if (d.emprestimos[i]['status'] == '1') {
                        emprestimmos += "<label><input type='checkbox' checked name='emprestimo[]' value=" + d.emprestimos[i]['id'] + "> " + "<b>" + d.emprestimos[i]['nome'] + "</b>" + ": $" + d.emprestimos[i]['valor'] + "</label>";
                        emprestimmos += "<br />";
                    } else {
                        emprestimmos += "<label><input type='checkbox' name='emprestimo[]' value=" + d.emprestimos[i]['id'] + "> " + "<b>" + d.emprestimos[i]['nome'] + "</b>" + ":  $" + d.emprestimos[i]['valor'] + "</label>";
                        emprestimmos += "<br />";
                    }

                }
                
                $(".nomeExibicao").text(d.nome);
                $(".cpfExibicao").text(d.cpf);
                $(".agenciaExibicao").text(d.prefixoAg);
                $(".ccExibicao").text(d.contaCorrente);
                $(".foneResidencial").text("("+d.dddFoneResid+")"+d.foneResidencial);
                $(".foneComercial").text("("+d.dddFoneComer+")"+d.foneComercial);
                $(".fonePreferencial").text("("+d.dddFonePref+")"+d.fonePreferencial);
                $(".foneCelular").text("("+d.dddFoneCel+")"+d.foneCelular);
                
                if (d.statusLigacao == '1') {
                    $('#ativo').prop('checked', true);
                } else {
                    $('#ativo').prop('checked', false);
                }

                if (d.GerarArquiRetorno == '1') {
                    $('#arquivoRetorno').prop('checked', true);
                } else {
                    $('#arquivoRetorno').prop('checked', false);
                }

                if (d.bloqueioAtivacao == "0") {
                    $('#ativo').attr('disabled', false);
                } else if (d.bloqueioAtivacao === "2") {
                    $('#ativo').prop('disabled', true);
                } else {
                    $('#ativo').prop('disabled', true);
                }
                
                if (d.bloqueioSalve === "1") {
                    $('#btnSalvarModal').prop('disabled', true);
                } else {
                    $('#btnSalvarModal').prop('disabled', false);
                }

                $('.checked').html(emprestimmos);
                $('#idCliente').val(d.DT_RowId.replace("row_", " "));
                $('#obs').val(d.obsCliente);
                $('#margem').val(d.margem);
                $('#vDisponivel').val(d.vDisponivel);
                
                if (d.tipoCredito == '1') {
                    $('#tCreditoR').prop('checked', true);
                    
                    $('#AntDecimo13').hide();
                    $('.tCreditoCon input').prop('checked', false);
                    $('.tCreditoCon input').prop('disabled', false);
                    
                    $("#vDisponivel1").val(""); 
                    $("#dataVecimento1").val("");
                    $("#vPrest1").val("");

                    $("#vDisponivel2").val("");
                    $("#dataVecimento2").val("");
                    $("#vPrest2").val("");
                } else if (d.tipoCredito == '2') {
                    $('#tCreditoN').prop('checked', true);
                    
                    $('#AntDecimo13').hide();
                    $('.tCreditoCon input').prop('checked', false);
                    $('.tCreditoCon input').prop('disabled', false);
                    
                    $("#vDisponivel1").val("");
                    $("#dataVecimento1").val("");
                    $("#vPrest1").val("");

                    $("#vDisponivel2").val("");
                    $("#dataVecimento2").val("");
                    $("#vPrest2").val("");

                } else if (d.tipoCredito == '3') {
                    $('#tCreditoA').prop('checked', true);
                    
                    $('#AntDecimo13').show();
                    $('.tCreditoCon input').prop('checked', false);
                    $('.tCreditoCon input').prop('disabled', false);
                    
                    $("#vDisponivel1").val(d.DecTerUmValorD);
                    $("#dataVecimento1").val(d.DecTerUmDataV);
                    $("#vPrest1").val(d.DecTerUmValorP);

                    $("#vDisponivel2").val(d.DecTerDoisValorD);
                    $("#dataVecimento2").val(d.DecTerDoisDataV);
                    $("#vPrest2").val(d.DecTerDoisValorP);
                    
                } else if (d.tipoCredito == '4') {
                    $('#tCreditoAT').prop('checked', true);
                    
                    $('#AntDecimo13').hide();
                    $('.tCreditoCon input').prop('checked', false);
                    $('.tCreditoCon input').prop('disabled', false);
                    
                    $("#vDisponivel1").val("");
                    $("#dataVecimento1").val("");
                    $("#vPrest1").val("");

                    $("#vDisponivel2").val("");
                    $("#dataVecimento2").val("");
                    $("#vPrest2").val("");
                }
                
                if (d.CreditoConsignado == '1') {
                    $('#tCreditoRCon').prop('checked', true);
                    
                    $('#AntDecimo13').hide();
                    $('.tCreditoPess input').prop('checked', false);
                    $('.tCreditoPess input').prop('disabled', false);
                    
                    $("#vDisponivel1").val("");
                    $("#dataVecimento1").val("");
                    $("#vPrest1").val("");

                    $("#vDisponivel2").val("");
                    $("#dataVecimento2").val("");
                    $("#vPrest2").val("");
                    
                } else if (d.CreditoConsignado == '2') {
                    $('#tCreditoNCon').prop('checked', true);
                    
                    $('#AntDecimo13').hide();
                    $('.tCreditoPess input').prop('checked', false);
                    $('.tCreditoPess input').prop('disabled', false);
                    
                    $("#vDisponivel1").val("");
                    $("#dataVecimento1").val("");
                    $("#vPrest1").val("");

                    $("#vDisponivel2").val("");
                    $("#dataVecimento2").val("");
                    $("#vPrest2").val("");
                }
                               
            });

            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on('draw', function () {
                $.each(detailRows, function (i, id) {
                    $('#' + id + ' td:first-child').trigger('click');
                });
            });

            // Apply the search -- EUUUUUUUUUUUUUUUUUUUUUUUUU
            dt.columns().eq(0).each(function (colIdx) {
                $('input', dt.column(colIdx).footer()).on('keyup change', function () {
                    dt
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                });
            });

        });

        $(document).ready(function () {
          $('#AntDecimo13').hide();
          $('.ativaCampos').click(function(){
              $('#AntDecimo13').show();
          });
          
          $('.aux').click(function(){
              $('#AntDecimo13').hide();
          });
        });

        $(document).on('click', ".tCreditoPess", function () {
            $('.tCreditoCon input').attr('checked', false);
            $('.tCreditoCon input').attr('disabled', true);

            $('.tCreditoPess input').attr('checked', true);
            $('.tCreditoPess input').attr('disabled', false);

        });

        $(document).on('click', ".tCreditoCon", function () {
            $('.tCreditoPess input').attr('checked', false);
            $('.tCreditoPess input').attr('disabled', true);

            $('.tCreditoCon input').attr('checked', true);
            $('.tCreditoCon input').attr('disabled', false);
        });

    </script>
{% endblock %}

