{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css" class="init">

        .consultado {
            background-color: #FF0000; color: #FFFFFF; font-weight: bold;
        }

        td.details-control {
            background: url({{asset("imagens/icone-produto-plus.png")}}) no-repeat center center;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url({{asset("imagens/icone-produto-minus.png")}}) no-repeat center center;
        }

        a.editar {
            background: url({{asset("imagens/icone-editar.png")}}) no-repeat 0 0;
            width: 22px;
        }

        a.visualizar {
            background: url({{asset("imagens/icone-visualizar.png")}}) no-repeat 0 0;
            width: 23px;
        }

        a.excluir {
            background: url({{asset("imagens/icone-excluir.png")}}) no-repeat 0 0;
            width: 21px;
        }

        td.bt {
            padding: 10px 0;
            width: 126px;
        }

        td.bt a {
            float: left;
            height: 22px;
            margin: 0 10px;
        }
    </style>

{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form role="form" class="form-inline" method="POST" action="{{ path('filterGridDataPrev') }}">
                    <div class="form-group col-md-4">
                        <label for="nome">Estado</label>
                        <select class="form-control" name="estado" id="estado">
                            <option value="">Selecione</option>
                            {% for estado in estados %}
                                <option value="{{estado.id}}" {% if app.session.get('estadoFilter') is defined and app.session.get('estadoFilter') == estado.id %}selected=""{% endif %}>
                                    {{estado.uf}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nome">Agência</label>
                        <select class="form-control" name="agencia" id="agencia">

                        </select>
                    </div>
                    <br />
                    <div class="form-group col-lg-3" style="margin-top: 5px;">
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </div>
                </form>
            </div>
        </div>
        <br /> 
        <div class="row clearfix">
            <fieldset>
                <legend>Consultar Dados</legend>
                <div class="col-md-6 column">
                    <section>
                        <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Detalhe</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Número Benefício</th>
                                    <th>Acão</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Detalhe</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Número Benefício</th>     
                                    <th>Acão</th>
                                </tr>
                            </tfoot>
                        </table>
                    </section>
                </div>
                <div class="col-md-6 column" style="background-color: #F6F6F6; border-radius: 5px; padding: 10px;">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-dismissable alert-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="container-fluid">
                        <form role="form">
                            <div class="form-group col-lg-6">
                                <label for="numBeneficio">Número do Benefício</label>
                                <input type="text" disabled="" class="form-control" id="numBeneficio" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="dtNascimento">Data Nascimento</label>
                                <input type="text" disabled="" class="form-control" id="dtNascimento" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="nomeNascimento">Nome do Beneficiário</label>
                                <input type="text" disabled="" class="form-control" id="nome" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="cpf">CPF</label>
                                <input type="text" disabled="" class="form-control" id="cpf" />
                            </div>
                            <div class="form-group col-lg-6">
                                <img id="captcha" name="captcha" src="" style="width: 249px; height: 89px; border: 0px none;" />
                                <input type="text" class="form-control" id="captchaInput" />
                            </div>
                            <div class="form-group col-lg-6" id="load" style="display: none">
                                <img id="captcha" name="captcha" src="{{asset('imagens/loading.gif')}}" />
                            </div>
                            <br />
                            <div class="form-group col-lg-6">
                                <button type="submit" id="submitConsultar" class="btn btn-primary">Consultar</button>
                            </div>
                        </form>
                    </div>
                    <div class="container-fluid">                       
                        <form role="form">                           
                            <div class="container-fluid" id="result">

                            </div> 
                        </form>                        
                    </div>
                    <div class="container-fluid">
                        <fieldset>
                            <legend>Salvar Resultado</legend>
                            <form role="form" method="POST" action="{{ path('savarConsultaCliente') }}">
                                <div class="form-group col-lg-6">
                                    <label for="nome">Nome Segurado</label>
                                    <input type="text" readonly="" class="form-control" name="nomeSegurado" id="nomeSegurado" />
                                    <input type="hidden" class="form-control" name="codBenefi" id="codBenefi" />
                                    <input type="hidden" class="form-control" name="erro" id="erro" />
                                    <input type="hidden" class="form-control" name="msgerro" id="msgerro" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="competencia">Competência</label>
                                    <input type="text" readonly class="form-control" name="competencia" id="competencia" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="pCredito">Período Crédito</label>
                                    <input type="text" readonly class="form-control" name="pCredito" id="pCredito" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Pagamento através de:</label>
                                    <input type="text" readonly class="form-control" name="tipoPagamento" id="tipoPagamento" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Espécie</label>
                                    <input type="text" readonly class="form-control" name="especie" id="especie" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Banco</label>
                                    <input type="text" readonly class="form-control" name="banco" id="banco" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Agência</label>
                                    <input type="text" readonly class="form-control" name="agencia" id="agencia" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Codigo da agência</label>
                                    <input type="text" readonly class="form-control" name="codAgencia" id="codAgencia" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Endereço do banco</label>
                                    <input type="text" readonly class="form-control" name="endBanco" id="endBanco" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Disponibilidade de recebimento</label>
                                    <input type="text" readonly class="form-control" name="disRecebimento" id="disRecebimento" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="numBeneficio">Valor Bruto</label>
                                    <input type="text" readonly class="form-control" name="vBruto" id="vBruto" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="dtNascimento">Valor dos descontos</label>
                                    <input type="text" readonly class="form-control" name="vDesconto" id="vDesconto" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="dtNascimento">Valor Líquido</label>
                                    <input type="text" readonly class="form-control" name="vLiquido" id="vLiquido" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="dtNascimento">Quantidade de Empréstimos</label>
                                    <input type="text" readonly class="form-control" name="qtdEmprestimo" id="qtdEmprestimo" />
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="">Valores dos empréstimos</label>
                                    <ul class="list-group" id="listaDebitos">

                                    </ul>
                                </div>
                                <div class="form-group col-lg-6">
                                    <button type="submit" disabled="disabled" id="salvar" class="btn btn-primary">Salvar</button>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" language="javascript" class="init">
        function format(d) {
            return 'MCI: ' + d.mci + '<br>' +
                   'Sexo: ' + d.Sexo + ' <br>' +
                   'Agência: ' + d.agencia + '<br>' +
                   'Estado: ' + d.estado + '<br>';
        }

        $(document).ready(function ()
        {
            $('#result').hide();
            //$('#salvar').attr("disabled", true);

            var dt = $('#example').DataTable({
                "createdRow": function (row, data, index) {
                    if (data.qtdConsultas > 0) {
                        $("td", row).eq(1).addClass("consultado");
                    }
                },
                "processing": true,
                "serverSide": true,
                "bFilter": true, //Ativa o Search global
                "ajax": {
                    "url": "grid",
                    "type": "POST"
                },
                "columns": [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": ""
                    },
                    {"data": "nome"},
                    {"data": "cpf"},
                    {"data": "numBeneficio"},
                    {
                        "class": "bt",
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, full, meta) {
                            return '<a href="" class="editar" title="Editar">'
                        }
                    },
                ],
                "order": [[0, 'asc']],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            // Array to track the ids of the details displayed rows
            var detailRows = [];

            $('#example tbody').on('click', 'tr td:first-child', function () {
                var tr = $(this).closest('tr');
                var row = dt.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                }

                else {
                    tr.addClass('details');
                    row.child(format(row.data())).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });

            $('#example tbody').on('click', 'tr', function () {

                var nome = $('td', this).eq(1).text();
                var cpf = $('td', this).eq(2).text();
                var num_beneficiario = $('td', this).eq(3).text();
                var tr = $(this).closest('tr');
                var row = dt.row(tr);
                var data = row.data();
                var dtNascimento = data.dtNascimento;
                var condigo_prod = data.DT_RowId.replace("row_", "");

                $('#numBeneficio').val(num_beneficiario);
                $('#nome').val(nome);
                $('#cpf').val(cpf);
                $('#dtNascimento').val(dtNascimento);
                $('#codigo_prod').val(condigo_prod);

                //Limpar caampos
                $('#nomeSegurado').val("");
                $('#competencia').val("");
                $('#pCredito').val("");
                $('#tipoPagamento').val("");
                $('#especie').val("");
                $('#banco').val("");
                $('#agencia').val("");
                $('#codAgencia').val("");
                $('#endBanco').val("");
                $('#disRecebimento').val("");

                $('#listaDebitos').html("");

                $('#vBruto').val("");
                $('#vDesconto').val("");
                $('#vLiquido').val("");
                $('#qtdEmprestimo').val("");

            });

            $('#example tbody').on('click', 'tr', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: "captcha",
                    data: "",
                    datatype: 'json'
                }).done(function (json) {

                    console.log("http://www8.dataprev.gov.br" + json['img']);
                    $('#captcha').attr('src', 'http://www8.dataprev.gov.br' + json['img']);
                });
            });

            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on('draw', function () {
                $.each(detailRows, function (i, id) {
                    $('#' + id + ' td:first-child').trigger('click');
                });
            });

            // Apply the search -- EUUUUUUUUUUUUUUUUUUUUUUUUU
            dt.columns().eq(0).each(function (colIdx) {
                $('input', dt.column(colIdx).footer()).on('keyup change', function () {
                    dt
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                });
            });

        });

        $(document).on("click", "#submitConsultar", function (event) {
            event.preventDefault();

            var numBeneficio = $("#numBeneficio").val();
            var dtNascimento = $("#dtNascimento").val();
            var nome = $("#nome").val();
            var cpf = $("#cpf").val();
            var captcha = $("#captchaInput").val();

            var dados = {
                nome: nome,
                numBeneficio: numBeneficio,
                dtNascimento: dtNascimento,
                cpf: cpf,
                captcha: captcha
            }

            $("#load").show();

            $.ajax({
                type: "POST",
                url: "{{ path('consultar') }}",
                dataType: "json",
                data: dados,
                success: function (data) {
                    $("#load").hide();

                    var resposta = $(data['result']).find("ul li.erro");

                    var resposta2 = $(data['result']).closest("h3");

                    var resposta3 = $(data['result']).closest("h1");

                    if (resposta.text()) {

                        alert(resposta.text());
                        $('#salvar').attr("disabled", true);

                        $('#codBenefi').val(numBen);
                        $('#nomeSegurado').val(nome);
                    } else if (resposta2.text()) {

                        alert(resposta2.text());
                        $('#salvar').attr("disabled", false);
                        $('#erro').val("1");
                        $('#msgerro').val(resposta2.text());
                        var numBen = $('#numBeneficio').val();
                        var nome = $('#nome').val();

                        $('#codBenefi').val(numBen);
                        $('#nomeSegurado').val(nome);

                    } else if (resposta3.text() === 'Service Temporarily Unavailable') {
                        alert("O serviço de consulta do DATAPREV está temporariamente indisponível");
                        $('#salvar').attr("disabled", true);

                        $('#codBenefi').val(numBen);
                        $('#nomeSegurado').val(nome);
                    }
                    else {
                        //pega a página de retorno e atribui a uma div oculta
                        $('#result').html(data['result']);


                            {#var countTabela = $("table.tabeld-com-borda").length;
                            var Table = "";
                            for (var i = 0; i < countTabela; i++) {
                                Table += "<table class='tabela-com-borda' border='1' cellpadding='3'>";
                                Table += $("table.tabela-com-borda:eq(" + i + ")").html();
                                Table += "</table>";
                            }
                            $('#tabela').html(Table);#}

                            $('#codBenefi').val($('tr.grande:first td:eq(0)').text());
                            $('#nomeSegurado').val($('tr.grande:first td:eq(1)').text());
                            $('#competencia').val($('tr.grande:eq(1) td:eq(0)').text());
                            $('#pCredito').val($('tr.grande:eq(1) td:eq(1)').text());
                            $('#tipoPagamento').val($('tr.grande:eq(1) td:eq(2)').text());
                            $('#especie').val($('tr.grande:eq(2) td:eq(0) span').text() + " " + $('tr.grande:eq(2) td:eq(1)').text());
                            $('#banco').val($('tr.grande:eq(3) td:eq(0)').text());
                            $('#agencia').val($('tr.grande:eq(3) td:eq(1)').text());
                            $('#codAgencia').val($('tr.grande:eq(3) td:eq(2)').text());
                            $('#endBanco').val($('tr.grande:eq(4) td:eq(0)').text());
                            $('#disRecebimento').val($('tr.grande:eq(4) td:eq(1) div').text());


                            var debitos = "";
                            //Conta quantos emprestimos o cliente possui
                            var countTR = $("table.rubricas-negativas tbody tr").length;
                            if (countTR >= 1) {
                                for (var i = 0; i < countTR; i++) {

                                    //pega os valores e nome de cada emprestimo
                                    var nome = $("table.rubricas-negativas tbody tr:eq(" + i + ") td:eq(0)").text();
                                    var valor = $("table.rubricas-negativas tbody tr:eq(" + i + ") td:eq(1)").text();

                                    if (nome && valor) {
                                        debitos += "<li class='list-group-item'>" + nome + "\
                        ..........................................................\
                        ................................................" + valor + "</li>";

                                        debitos += "<input type='hidden' class='form-control' value='" + nome + "' name='nomeEmprestimo[]' />";
                                        debitos += "<input type='hidden' class='form-control' value='" + valor + "' name='valorEmprestimo[]' />";
                                    }

                                }
                            }

                            //Lista os débitos
                            $('#listaDebitos').html(debitos);

                            var valorBruto = $('tr.grande:last td:eq(0)').text();
                            var valorDesconto = $('tr.grande:last td:eq(1)').text();
                            var valorLiquido = $('tr.grande:last td:eq(2)').text();

                            $('#vBruto').val(valorBruto);
                            $('#vDesconto').val(valorDesconto);
                            $('#vLiquido').val(valorLiquido);
                            $('#qtdEmprestimo').val(countTR);
                            $('#erro').text("0");
                            
                            
                            $('#salvar').attr("disabled", false);console.log("aaaaaaaaaaaaaa");
                        }
                    }
                });
            });
            
            $(document).on('change', "#estado", function () {
            var estado = $("#estado").val();

            if (estado !== "") {
                var dados = {
                    idEstado: estado
                } 
                    
                jQuery.ajax({
                    type: 'POST',
                    url: "consultaAgencia",
                    data: dados,
                    datatype: 'json'
                }).done(function (json) {
                    var option = '';
                    console.log(json);
                    if (json['msg'] === "sucesso") {
                        option += '<option value="">Selecione</option>';
                        for (var i = 0; i < json['dados'].length; i++) {
                            option += '<option value="' + json['dados'][i]['idAg'] + '">' + json['dados'][i]['prefixoAg'] + '</option>';
                        }

                        $('#agencia option').remove();
                        $("#agencia").append(option);
                    } else {
                        alert("Não há agencia para o estado selecionada");                     
                        //$('#cola_subcategoria option').remove();
                    }

                });
            } else {
                $('#agencia option').remove();
            }
        });
        
        $(document).ready(function (){
            var option = '';
            option += '<option value="">Selecione</option>';
            {% if app.session.get('listAgencias') is defined %}
                    {% for agencia in app.session.get('listAgencias') %}
                        option += '<option value="' + {{agencia.idAg}} + '">' + {{agencia.prefixoAg}} + '</option>';
                        {% if app.session.get('agenciaFilter') is defined and app.session.get('agenciaFilter') == agencia.idAg %}
                            option += '<option selected="" value="' + {{agencia.idAg}} + '">' + {{agencia.prefixoAg}} + '</option>';
                        {% endif %}
                    {% endfor %}
            {% endif %}
            $('#agencia option').remove();
            $("#agencia").append(option);
        });
    </script>
{% endblock %}
